@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  background: white;
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 16px; }

.contenedor {
  width: 100%;
  max-width: 80.625em;
  margin: 0.625em auto;
  box-sizing: border-box;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header" "volante contenido" "footer footer"; }

.header {
  background: linear-gradient(to left, rgba(255, 0, 0, 0.856), yellow);
  grid-area: header; }

.header_titulo--estilo {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url(../img/abstract.jpg);
  background-size: cover;
  border-radius: 1.25em;
  font-family: 'Staatliches', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 3.125em;
  color: white; }

.tamaño {
  font-size: 1.25em; }

.contenido {
  grid-area: contenido;
  display: flex;
  flex-direction: column;
  padding: 5px; }

.carrusel__subtitulo--estilo {
  font-family: 'Domine',serif;
  font-weight: bold;
  background: #080808;
  border-radius: 5px;
  margin: 5px;
  font-size: 2.5em;
  color: white;
  text-align: center; }

.contenido__texto--bg {
  background-image: url(../img/dynamic.jpg);
  font-size: 1.75em;
  font-family: 'Anton', sans-serif;
  margin: 0.3125em;
  padding: 0.625em;
  border-radius: 2px; }

.contenido--consulta {
  background: linear-gradient(to left, #ec442b, #fbdc24);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px; }

.dimensiones {
  font-size: 1.5625em; }

.volante {
  /* background: rgb(255, 255, 255); */
  grid-area: volante;
  display: grid;
  grid-gap: 0,3125em;
  grid-template-areas: "volante_parrafo" "imagen";
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 20% 80%; }

.imagen {
  grid-area: imagen; }

.volante__parrafo {
  grid-area: volante_parrafo; }
  .volante__parrafo #p1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-weight: bold;
    font-size: 2.1875em;
    color: #f50317; }
  .volante__parrafo #p2 {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.5625em;
    color: #070707; }

.footer {
  grid-area: footer;
  border-radius: 0.625em;
  background-size: cover; }

.grillaf {
  display: grid;
  grid-template-areas: "uno uno" "dos tres" "cuatro cuatro";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20% 70% auto;
  grid-gap: 5px; }
  .grillaf #uno {
    grid-area: uno;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625em;
    color: black; }
    .grillaf #uno a .iconify {
      width: 50px;
      height: 60px;
      color: black; }
    .grillaf #uno h5 {
      font-size: 1.875em; }
  .grillaf #dos {
    grid-area: dos;
    background-image: url(../img/abstract.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5625em; }
    .grillaf #dos p {
      font-weight: bold;
      background-color: #f0d90a; }
  .grillaf #tres {
    grid-area: tres;
    background-image: url(../img/tools.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25em; }
    .grillaf #tres h4 {
      background-color: #080808;
      color: white;
      border-radius: 4px;
      font-size: 1.5625em;
      text-align: center; }
  .grillaf .dimen {
    width: 25em;
    height: 25em; }
  .grillaf #cuatro {
    grid-area: cuatro;
    color: #080808;
    font-family: 'Lobster', cursive;
    font-size: 1.5625em;
    text-align: center; }

@media screen and (min-width: 780px) and (max-width: 1024px) {
  body {
    font-size: 17px; }
  .contenedor {
    width: 100%;
    max-width: 64em;
    margin: 0.625em auto;
    box-sizing: border-box;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header header" "volante contenido" "footer footer"; } }

@media screen and (min-width: 480px) and (max-width: 780px) {
  body {
    font-size: 13px; }
  .contenedor {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header" "volante" "contenido" "footer"; } }

@media screen and (max-width: 480px) {
  body {
    font-size: 13px; }
  .contenedor {
    width: 100%;
    max-width: 80.625em;
    margin: 0.625em auto;
    box-sizing: border-box;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header" "volante" "contenido" "footer"; }
  .grillaf {
    display: grid;
    grid-template-areas: "uno" "dos" "tres" "cuatro";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 15% 40% 40% auto;
    grid-gap: 5px; } }
